{% extends 'base.html.twig' %}

{% block title %}Projets Informatique {% endblock %}

{% block body %}
<header>
        <h1> Mes Projets informatiques </h1>
    </header>
    
    {#  on aplique une boucle for sur l'ensemble des projets dans projets #}

    {% for projet in projets %}
    <section>
        <div>
            <h2>{{projet.nom | capitalize }}</h2>
            <div class="contact-flex">
                <p>Description : </p>
                <p>{{projet.description}}</p> 
            </div>
            <div class="contact-flex">
                <p>Lien vers le code source : </p>
                <p><a href="{{projet.lien}}">{{projet.lien}}<a/></p>
            </div>               
        </div> 
    </section>
     {% endfor %}
    <div class="social">
                <a href="https://www.facebook.com/nidal.bekkali"><img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Logo Fb"></a>
                
                <a href="https://ma.linkedin.com/in/nidal-bekkali-64514a92"><img src="https://www.kingtree.eu/wp-content/uploads/2017/10/Linkedin_circle.svg_.png" alt="Logo Lk"></a>
                
            </div>
{% endblock %}
